.circle {
    border-radius: 20%;
    max-width: 250px;
}

aside {
    display: inline-block;
    margin-top: 1.5vh;
    opacity: 0.87;
}

aside > div {
    margin: 2vw 4vw;  
}
aside p {

    margin: 5px auto;
}